/.venv/
# Virtual envs
.venv/
venv/
**/.venv/
**/venv/

# MLflow tracking & artifacts
mlruns/
**/mlruns/
**/mlruns_artifacts/
**/mlartifacts/
**/models/

# Notebooks & caches
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
lab3/